# Supabase (público — pode expor ao browser)
NEXT_PUBLIC_SUPABASE_URL=https://gwsfovtcsggbdrerynbf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here

# Backend URL — privado para Server Components
BACKEND_URL=http://localhost:3001

# Backend URL — público para Client Components
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
